// Cores
$color-primary: #272C33;
$color-secondary: #03a9f4;

$title-main: #3c3954;
$text-title: #3c3954;
$title-section: #3c3954;
$white:#fff;
$black:#000;
$title-hover: #d13a75;
$icon-hover: #D23E78;
$bg-content: #F5F8FE;
$roxo-claro: #ced2ff;
$bg-input: #f4f4fd;
$cinza-claro: #fafafa;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&display=swap');
$font-1: 'Montserrat', sans-serif;
// $font-2: 'Open Sans Condensed', sans-serif;

// Função de CONVERTER PX to EM
@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

// Mixins TIPOGRAFIA
@mixin type-1($size){

    font-family: $font-1;
    @if $size == 12 {
        font-size:em(12);
    }
    @else if $size == 14 {
        font-size:em(14);
        line-height: em(26,14);
    }
    @else if $size == 15 {
        font-size: em(15);
    }
    @else if $size == 16 {
        font-size: em(16);
        line-height: em(30,16);
    }
    @else if $size == 24 {
        font-size: em(24);
        line-height: em(34,24);
    }
    @else if $size == 18 {
        font-size: em(18);
        line-height: em(25);
    }
    @else if $size == 32 {
        font-size: em(32);
    }
    @else if $size == 35 {
        font-size: em(35);
    }
    @else if $size == 20 {
        font-size: em(20);
        line-height: em(35,20);
    }
    @else if $size == 30 {
        font-size: em(30);
    }
    @else if $size == 35 {
        font-size: em(35);
    }
    @else if $size == 36 {
        font-size: em(36);
    }
    @else if $size == 40 {
        font-size: em(40);
        line-height: 50px;
    }
    @else if $size == 45 {
        font-size: em(45);
        line-height: em(56, 45);
    }
    @else if $size == 50 {
        font-size: em(50);
    }
    @else if $size == 53 {
        font-size: em(53);
    }
    @else if $size == 60 {
        font-size: em(60);
        line-height: 80px;
    }
}

@mixin type-2($size) {
    font-family: $font-2;
    // @if $size == 18 {
    //     font-size: em(18);
    //     line-height: (30,18);
    // }
    // @else if $size == 24 {
    //     font-size: em(24);
    //     line-height: (30,24);
    // }
}
