/* STYLE GERAL */

body {
    height: 2000px;
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}
/* END STYLE GERAL */

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 246px;
    bottom: 0;
    z-index: 1;
    // Use flex for alignment (1-3)
    display: flex; // 1. allow flex styles
    align-items: center; // 2. vertically center contents
    justify-content: center; // 3. horizontally center contents
    // width: $carousel-control-width;
    width: 3.7%;
    height: 57px;
    color: $carousel-control-color;
    background-color: #72364B;
    text-align: center;
    opacity: $carousel-control-opacity;
    @include transition($carousel-control-transition);
  
    // Hover/focus state
    @include hover-focus {
      color: $carousel-control-color;
      text-decoration: none;
      outline: 0;
      opacity: $carousel-control-hover-opacity;
    }
  }


  // Use Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;
// Crop thumbnail images.
#gallery {
  
  img {
    height: 40vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-md) {
      height: 25vw;
    }
    
    @media (min-width: $bootstrap-lg) {
      height: 18vw;
    }
  }
}
// Crop images in lightbox.
.carousel-item {
  
  img {
    height: 60vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 350px;
    }
  }
}


/* SLICK */
.slick-prev {
  left: 0px !important;
  z-index: 1 !important;
  position: absolute;
  background-color: #72364B !important;
  opacity: 0.5 !important;
  transition: opacity 0.15s ease !important;
  width: 4% !important;
  height: 8vh !important;
}
.slick-next {
  right: 0px !important;
  position: absolute;
  background-color: #72364B !important;
  opacity: 0.5 !important;
  transition: opacity 0.15s ease !important;
  width: 4% !important;
  height: 8vh !important;
}
/* END SLICK */

/* BOOSTRAP */
.active {
  // color: #fff !important;
  background-color: transparent !important;
}


.js-tabcontent section{
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
      opacity: 0;
      transform: translate3d(-30px,0,0);
  }
  to {
      opacity: 1;
      transform: translate3d(0,0,0);
  }

}


.btnLeftOwl {
  position: absolute;
  top: 280px;
  left: 0;
  border: none;
  width: 3.7%;
  height: 57px;
  color: #fff;
  background-color: #72364B;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;

  @media (min-width: 576px) and (max-width: 767.98px) {
    top: 130px;
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    top: 130px;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    top: 190px;
   }

  span {
    font-size: 30px;
  }
} 

.owl-nav {

  button:nth-child(2) {
    position: absolute;
    top: 280px;
    right: 0;
    border: none;
    width: 3.7%;
    height: 57px;
    color: #fff;
    background-color: #72364B;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;

    @media (min-width: 576px) and (max-width: 767.98px) {
      top: 130px;
    }
  
    @media (min-width: 768px) and (max-width: 991.98px) {
      top: 130px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      top: 190px;
     }

    span {
      font-size: 30px;
    }

  }


}


/* Background Scroll Menu */
.menuScroll {
  font-size: 50px !important;
  background-color: #000000c9 !important;
}
.kkk {
  font-size: 50px !important;
  background-color: #000000c9 !important;
}
